<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <span minimaliza-sidebar></span>

        </div>
        <ul class="nav navbar-top-links navbar-right">
            <!--<li>-->
                <!--<span class="m-r-sm text-muted welcome-message">Welcome to INSPINIA+ Admin Theme.</span>-->
            <!--</li>-->
            <!--<li uib-dropdown>-->
                <!--<a class="count-info" href uib-dropdown-toggle>-->
                    <!--Language-->
                <!--</a>-->
                <!--<ul uib-dropdown-menu class="animated fadeInRight m-t-xs" ng-controller="translateCtrl">-->
                    <!--<li><a ng-click="changeLanguage('en')">English</a></li>-->
                    <!--<li><a ng-click="changeLanguage('es')">Spanish</a></li>-->
                <!--</ul>-->
            <!--</li>-->
            <li>
                <a ui-sref="login">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>
        </ul>

    </nav>
</div>