<div class="wrapper wrapper-content">
    <div class="animated fadeInRight">
        <div class="row">
            <div class="col-lg-3">

                <div class="widget style1 lazur-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-star-half-o fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> Merchant </span>
                            <h2 class="font-bold">{{userData.merchantId}}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget style1 lazur-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-user-circle-o fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> Merchant User </span>
                            <h2 class="font-bold">{{userData.merchantUserId}}</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">

                <div class="widget style1 lazur-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-user-circle-o fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> Role </span>
                            <h2 class="font-bold">{{userData.role | uppercase}}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget style1 lazur-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-users fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> Submerchants </span>
                            <h2 class="font-bold">{{userData.subMerchantIds.length}}</h2>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="row">

            <div class="col-lg-12">

            </div>

        </div>

    </div>

</div>
